$pretty_blue: #36EEFF;


html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.nav-bar {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  padding: 0 0 30px 60px;
}

.nav-link {
  margin: 0 30px;
  width: 75px;
  color: white;
  text-align: center;
  padding: 20px 10px 20px 10px;
  background-color: darken($pretty_blue, 15%);
  // left top right bottom
  border: 1px solid;
}


