$special_green: #11e220;


html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.nav {
  top: 0;
  padding-bottom: 80px; 
}

.nav-bar {
  display: flex;
  justify-content: space-around;
}


